<!doctype html>
<html lang="en">
  <link href="/rss.xml" rel="alternate" type="application/rss+xml">
  <head>
    <meta charset="utf8">
    <title><%= "#{@title} | #{SITE_TITLE}" %></title>
    <link rel="icon" href="/favicon.ico">
    <link href="/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="/"><%= SITE_TITLE %></a></h1>
        <h2><%= SITE_DESCRIPTION %></h2>
      </hgroup>
    </header>
    
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %>
    <% end %>
 
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %>
    <% end %>
    
    <div id="main">
      <%= yield %>
    </div>
 
    <footer>
      <p><small>An app by <a href="https://www.facebook.com/shubham2">Shubham Gupta</a>.</small></p>
    </footer>
  </body>
</html>